<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to image_tag("west_coast_cigars_logo.png", size: "80x40"), root_path, class: "navbar-brand" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav mr-auto mt-2 mt-lg-0">
      <a class="nav-link" href="/posts">Posts</a>
      <a class="nav-link" href="/staff">Staff</a>
      <a class="nav-link" href="/guide">Smoking Guide</a>
      <a class="nav-link" href="/location">Location</a>
      <a class="nav-link" href="/contact">Contact</a>
    </div>

    <div class="navbar-text my-2 my-lg-0">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Staff Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </div>
  </div>
</nav>
