<!DOCTYPE html>
<html>
  <head>
    <title>West Coast Cigars</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "common/navbar" %>
    <%#= render partial: "common/navbar", locals: { active: @active_tab } %>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <% if content_for(:container).present? %>
      <div class="container">
        <%= content_for(:container) %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

    <%= render partial: "common/footer" %>
  </body>
</html>
